@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300&display=swap');

body {
	margin: 0;
}

::selection {
	color: white;
	background: black;
}

.muted {
	position: absolute;
	left: 45%;
	top: 48%;
	color: white;
	font-family: Rubik, sans-serif;
	opacity: 20%;
	cursor: pointer;
}

.header {
	position: absolute;
	left: 2%;
	top: 3%
}

.contents {
	position: absolute;
	top: 2%;
	right: 5%
}

video {
	top: 50%;
	left: 50%;
	filter: brightness(30%) blur(2px);
	position: fixed;
	min-height: 100%;
	min-width: 120%;
	z-index: -100;
	transform: translate(-50%, -50%)
}

.extra {
	position: absolute;
	bottom: 2%;
	left: 3%
}

h1,
h2,
p {
	color: #fff;
	font-family: 'Cairo', sans-serif;
}

a {
	text-decoration: none;
	color: #fff;
	font-family: 'Cairo', sans-serif;
	-webkit-transition: all .1s ease-in;
	-moz-transition: all .1s ease-in;
	-ms-transition: all .1s ease-in;
	-o-transition: all .1s ease-in;
	transition: all .1s ease-in
}

a:hover {
	letter-spacing: .1em;
	cursor: pointer
}

.credits {
	position: absolute;
	right: 2%;
	bottom: 3%
}